<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="margin-top: 100px ;">
       <div class="border container">
            <h2 class="text-center">Login form</h2>
            <form action="" class="border m-5 p-5">
                <div class="m-3">
                    <input (change)="accChange($event)" class="form-control" type="text" [placeholder]="accPlaceholder">
                </div>
                <div class="m-3">
                    <input (change)="pswChange($event)" class="form-control" type="password" placeholder="password">
                </div>
                <div class="m-3">
                    <input (click)="login()" class="btn-btn-primary" type="button" value="Login" name="" id="loginBtn">
                </div>
            </form>

       </div>
       <div>
        <label for="">Not a user? <a href="">register</a></label>
       </div>
    </div>
    <div class="col-lg-4"></div>
</div>